<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    {% if form.errors %}
        <p>ID나 비밀번호가 일치하지 않습니다.</p>
    {% endif %}

    {% load crispy_forms_tags %}
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="hidden" name="next" value="{{ next }}"/>
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Sign in</button>
        </form>
    </div>
</html>
